<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="./vue.min.js"></script>
<script src="./axios.min.js"></script>
</head>
<body>
<div id="main">
  <p>输入新队员信息：</p>
  <form style="width=100%">
    <input v-model="name" placeholder="输入姓名"><br/>
    <input v-model="salary" placeholder="输入薪资"><br/>
    <input v-model="team" placeholder="队伍序号"><br/>
  </form>
  <p>{{ name }}</p>
</div>
<script>
var app = new Vue({
  el: '#main',
  data: {
    name: '',
    salary: '',
    team: '',
    message: 'GBA'
  }
})
</script>
</body>
</html>
