<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="./static/vue.min.js"></script>
<link rel="stylesheet" href="./static/app.css" type="text/css">
</head>
<body>
<div id="main">
  <table>
<tr>
<th>队伍</th>
<th>积分</th>
<th>进球(失球)</th>
</tr>
{% for s in scores %}
 <tr>
<td>{{ s.name }}</td>
<td>{{ s.score }}</td>
<td>{{ s.points }}({{ s.lose_points }})</td>
</tr>
{% endfor %}
  </table>
<br/>
  <table>
<tr>
<th>队伍</th>
<th>出场次数(挑战失败)</th>
<th>比赛场次</th>
<th>胜/负</th>
<th>最长连胜</th>
</tr>
{% for s in scores %}
 <tr>
<td>{{ s.name }}</td>
<td>{{ s.play_times }}({{ s.challenge_rejects }})</td>
<td>{{ s.times }}</td>
<td>{{ s.winners }}/{{ s.losers }}</td>
<td>{{ s.best_inarow }}</td>
</tr>
{% endfor %}
  </table>
<br/>
  <table>
    <tr>
<th>比赛时间</th>
      <th>主队:得分</th>
      <th>客队:得分</th>
    </tr>
{% for match in matches %}
    <tr>
    <td>{{ match.match_date }}</td>
    <td>{{ teams[match.home_team_id] }}:{{ match.home_team_score }}</td>
    <td>{{ teams[match.away_team_id] }}:{{ match.away_team_score }}</td>
    </tr>
{% endfor %}
  </table>
</div>
</body>
</html>
